<!-- A standard form for uploading images to your server -->
<div id='backend_upload'>
  <h1>New Photo</h1>
  <h2>Image file is uploaded through the server</h2>
  <%= form_for(@photo, :url => album_photos_path(@album)) do |f| %>
    <div class="form_line">
      <%= f.label :title, "Title:" %>
      <div class="form_controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="form_line">
      <%= f.label :image, "Image:" %>
      <div class="form_controls">
        <%= f.file_field :image %>
        <%= f.hidden_field(:image_cache) %>
      </div>
    </div>
    <div class="form_line">
      <div class="form_controls">
        <%= f.submit "Submit Photo" %>
        <% if @error %><span class="error"><%= @error %></span><% end %>
      </div>
    </div>
    <%= hidden_field_tag :direct, params[:direct] %>
  <% end %>
</div>

<a href="<%= album_path(@album) %>" class="back_link">Back to album</a>
