<h1>
  Uploads and Transformations
</h1>

<%= render 'image_box',
  :upload => @uploads[:pizza],
  :description => 'Fill 200x150',
  :options => { :width => 200, :height => 150, :crop => "fill" }
%>

<%= render 'image_box',
  :upload => @uploads[:pizza2],
  :description => 'Fit into 200x150',
  :options => { :width => 200, :height => 150, :crop => "fit" }
%>

<%= render 'image_box',
  :upload => @uploads[:lake],
  :description => 'Eager transformation of scaling to 200x150',
  :options => @eager_options
%>

<%= render 'image_box',
  :upload => @uploads[:couple],
  :description => 'Face detection based 200x150 thumbnail',
  :options => { :width => 200, :height => 150, :crop => "thumb", :gravity => "faces" }
%>

<%= render 'image_box',
  :upload => @uploads[:couple2],
  :description => 'Fill 200x150, round corners, apply the sepia effect',
  :options => { :width => 200, :height => 150, :crop => "fill", :gravity => "face", :radius => 10, :effect => "sepia" }
%>

<br>
<%= cl_video_thumbnail_tag "dog", :cloud_name => 'demo',
   :width => 200, :height => 150, :crop => "fill", :gravity => "face", :radius => 10, :effect => "sepia"
%>
<br>

<%= cl_video_tag "dog", :cloud_name => "demo" %>
